USE [master]
GO
/****** Object:  Database [TaskDb]    Script Date: 7/7/2017 11:48:40 PM ******/
CREATE DATABASE [TaskDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskDb', FILENAME = N'G:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TaskDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskDb_log', FILENAME = N'G:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TaskDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskDb]
GO
USE [TaskDb]
GO
/****** Object:  Table [dbo].[tbl_Task]    Script Date: 7/7/2017 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[dateCreated] [datetime] NULL,
	[dateUpdated] [datetime] NULL,
 CONSTRAINT [PK_tbl_Task] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_Task] ADD  CONSTRAINT [DF_tbl_Task_dateCreated]  DEFAULT (getdate()) FOR [dateCreated]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Task]    Script Date: 7/7/2017 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_Task]

as


begin

SELECT   [id]
      ,[name]
      ,[description]
      ,convert(varchar,[dateCreated],110)dateCreated
      ,convert(varchar,[dateUpdated],110)dateUpdated
  FROM [TaskDb].[dbo].[tbl_Task]
order by dateUpdated desc,dateCreated DESC


END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Task_Delete]    Script Date: 7/7/2017 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_Task_Delete]
@Id int

as


begin

Delete from tbl_Task
where id=@id



END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Task_InsertUpdate]    Script Date: 7/7/2017 11:48:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_Task_InsertUpdate]
@Id int,
@name varchar(max),
@description varchar(max)

as


begin

if not exists (SELECT
		*
	FROM [dbo].[tbl_Task]

	WHERE id = @id)
BEGIN
INSERT INTO [dbo].[tbl_Task] ([name]
, [description]
, [dateCreated])
	VALUES (@name, @description, GETDATE())
END
ELSE
BEGIN

UPDATE [dbo].[tbl_Task]
SET [name] = @name
   ,[description] = @description
   ,[dateUpdated] = GETDATE()


END
END
GO
USE [master]
GO
